ul,
li {
    list-style-type: square;
    color: blueviolet;
}
body {
    background-color: black;
}

h1,
h2,
h3,
p,
label,
section,
article {
    color: blueviolet;
    padding: 5px;
    margin: 5px;
}

a {
    padding: 5px;
    margin: 5px;
    margin-bottom: 5px;
}

button {
    color: white;
    background-color: blueviolet;
    padding: 5px;
    margin: 5px;
}
input {
    margin: 5px;
}
