body {
    background-color: #f8f1f7;
}

h1 {
    color: darkblue;
    text-align: left; /*Balra igazítás*/
}

p {
    font-size: 18px;
    color: black;
}

img {
    border: 1.5px solid black; /* pixel vastag fekete keret */
    border-radius: 10px; /* Lekerekített sarkok */
}


   table {
            margin-left: left; /* Bal szélre rakjuk ezzel a táblázatot.*/
    	    border-collapse: collapse; /* Egyesítjük a szegélyeket */
        }
        
        th, td {
            border: 1px solid black; /* Szegély a cellák köré */
            padding: 8px; /* Térköz a cellák belsejében */
            text-align: left; /* Balra igazított szöveg */
        }
        
        th {
            background-color: #ff00ff; /* Szürke háttér a fejlécben */
        }

        tr:nth-child(even) {
            background-color: #ffe6ff; /* Minden második sor színezése */
        }

	body { /* Teljes oldal hátterének beállítása */
	 background-image: url('https://wallscloud.net/en/wallpaper/abstract/abstract-background/0xBX/3200x2400'); 
		/* A kép URL-je */
   	 background-repeat: no-repeat; /* Nem ismétli a képet */
   	 background-size: cover; /* A kép kitölti a teljes hátteret */
  	 background-position: center; /* A kép középre igazítása */
	}