@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

body {
    font-family: "Press Start 2P", sans-serif;
    background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
ul,
li {
    color: blueviolet;
}

ul {
    list-style-image: url(../../Assets/Icons/linkSmall.png);
}
