<footer>
    <!--TODO túl nagy a láthatatlan kattintható szövegdoboz.-->
    <a
        href="https://github.com/Nagraggini/web-practising-and-fun/tree/main/web-development/Practising/questlog"
        target="_blank"
        rel="noopener noreferrer"
    >
        <img src="../../assets/icons/linkSmall.png" alt="link" />
        My source code</a
    >

    <p>
        &copy; <span id="year"></span> Nagraggini (Andrea Freud)
        <br class="mobile-break" />
        — All rights reserved.
    </p>
</footer>
