<header>
    <nav class="header-nav">
        <img
            src="../assets/icons/unicorn.png"
            alt="Unicorn"
            class="unicornImg"
        />
        <div class="logo">Nagraggini's page</div>
        <ul class="nav-links">
            <li>
                <a
                    href="https://nagraggini.github.io/web-practising-and-fun/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Main page</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/Nagraggini/nagraggini/blob/main/Andrea_Freud_CV.pdf"
                    target="_blank"
                    rel="noopener noreferrer"
                    >About me</a
                >
            </li>
            <li>
                <a
                    href="../pages/common/settings.html"
                    target="_blank"
                    rel="noopener noreferrer"
                    >Settings</a
                >
            </li>
        </ul>
    </nav>
</header>
