<header>
    <div class="header-left">
        <img src="../assets/icons/unicorn.png" alt="Unicorn" />
    </div>
    <div class="header-right">
        <label
            >Theme:
            <select data-theme-picker name="themepicker" id="theme-toggle">
                <option value="💻">System</option>
                <option value="☀️">Light</option>
                <option value="🌑">Dark</option>
                <option value="🙃">Don't pick</option>
            </select>
        </label>
    </div>
</header>
