body {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  color: deeppink;
}

div.quiz_answers {
  font-size: large;
}

ul,
ol,
li {
  color: blueviolet;
}

tr,
td,
th {
  border: 1px solid white;
  color: white;
}

label {
  color: yellow;
}
