@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
    color: #ffffff;
    font-family: "Special Elite", serif;
    background-color: black;
}
a {
    /* Linkek stílusa */
    text-decoration: underline;
}

btn {
    background-color: #a34caf; /*Háttér */
    color: white; /* Fehér szöveg */
    padding: 9px 20px; /* Párnázás */
    border: none; /* Nincs keret */
    border-radius: 5px; /* Lekerekített sarkok */
    cursor: pointer; /* Mutató kéz kurzor */
}

/* Gomb hover animáció */
btn:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.btn {
    display: block;
    padding: 15px;
    background-color: #6c63ff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
