/*TODO nem működik*/

.header-left {
    display: flex;
    flex-direction: row;
   justify-content: flex-start; /* Ez az alapértelmezett 'balra'.Ezt együtt kell használni pl.: flex/grid-el*/
}
.header-right {
   display: flex;
    flex-direction: row;
   justify-content: flex-end; /* Ez az alapértelmezett 'balra'.Ezt együtt kell használni pl.: flex/grid-el*/
}
