.unicornImg {
    width: 5%;
}
/* Alapbeállítások a navigációhoz */
nav {
    width: 100%;
    padding: 1rem 5%;
    display: flex;

    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* Áttetsző háttér */
    backdrop-filter: blur(15px); /* Üveghatás - elmosás */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logó stílusa  */
.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #4895ef; /* Élénk kék */
    letter-spacing: 1px;
}

/* Linkek elrendezése  */
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #666;
    font-size: 1.05rem;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: #4361ee;
    text-shadow: 0 0 10px rgba(67, 97, 238, 0.3);
}
