h2,
h3,
h4,
h5,
h6,
p,
td,
tr {
    color: magenta;
}

small,
p {
    color: blueviolet;
}
header,
footer {
    color: cyan;
}

/*Linkek stílusa.*/
a:link,
a:visited {
    color: cyan;

    text-decoration: none;
}

a:hover {
    color: red;

    text-decoration: underline;
}

#headerID {
    text-align: center;
    background-color: rgb(60, 77, 233);
    color: white;
    padding: 10px; /*Eltartás felülről és alulről is.*/
}

#footerID {
    text-align: center;
    font-size: 26px;
}

.navigation_button {
    position: fixed; /*Bárhova tekered az oldalt ez a gomb fixen ott fog maradni.*/
    left: 0px;
    top: 70px;

    border-top: 2px solid magenta;
    font-size: 25px;
    background-color: rgb(5, 23, 161); /* Módosítva fehérre */
}
.container {
    display: flex;
}

section {
    border: 3px magenta solid;
    margin-bottom: 20px;

    color: rgb(231, 231, 50);
    padding: 5px;

    border-radius: 10px; /*Lekerekíti a sarkokat.*/
}
