/*Clean Code*/

/*Ezt érdemes beállítani az elején, mert minden elemre vonatkozik.*/
* {
  /*pl.: A 30 % ,vagy 70 %-os szélességbe bele számolja a padding-et is. Így a tartalomnak jut kevesebb hely.*/
  box-sizing: border-box;
}

html, body { /*Ez garantálja, hogy minden szöveg örökli.*/
  background-color: black;
  /*A var() egy függvény, ami megmondja a böngészőnek, hogy tedd ide a --text-color nevű változó értékét.*/
  color: var(--text-color_pink);
}

small,
p {
    color: blueviolet;
}

/*A lenti egy változó, amit bárhol felhasználhatsz később és nem kell megadni megint a színkódot.
:root nem egy függvény, hanem egy selector*/
:root { /*a dokumentum legfelső szintje (az egész oldal)*/
  /*A két kötőjel (--) a CSS változók kötelező prefixe.*/
  /*egy saját változó neve: a változó értéke*/
  --main-bg: rgb(80, 99, 117);
  --accent-bg: rgb(35, 43, 59);
  --accent-border: plum;
  --text-color_pink: rgb(222, 89, 222);
  --text-color_blue:cyan;
}

.headerID {
    text-align: center;
    background-color: rgb(60, 77, 233);
    color: var(--text-color_blue);
    padding: 10px; /*Eltartás felülről és alulről is.*/
}

aside {
  background-color: var(--accent-bg);
  border-left: 10px solid var(--accent-border);
}

.top_main {
  background-color: var(--accent-bg);
  border: 1px solid white;
  display: grid;
  grid-template-columns: 60% 40% minmax(10px, 100px);
}

.wide-img {
  width: 80%;
}

.navigation_button {
    position: fixed; /*Bárhova tekered az oldalt ez a gomb fixen ott fog maradni.*/
    z-index: 1000; /*Meghatározza átfedő elemek halmozási sorrendjét a weboldalon, ahol a magasabb értékű elem (itt 1000) előre kerül a alacsonyabb értékűek elé a z-tengely mentén*/
    left: 0px;
    top: 70px;

    border-top: 2px solid var(--text-color_pink);
    font-size: 25px;
    background-color: rgb(5, 23, 161); /* Háttér szín beállítás. */
}

.grid-container {
    display: grid;
}

section {
    border: 3px var(--text-color_pink) solid;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px; /*Lekerekíti a sarkokat.*/
}


.footerID {
  padding: 5px;
  margin: 5px 0;
}


/*Linkek színének beállítása:*/
a:link,
a:visited {
   color: var(--text-color_blue);
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.site-footer{
    color: var(--text-color_blue);
    text-align: center;
    font-size: 26px;
}
